<!--

    Copyright (c) 2026 Zakaria El Kotb. All rights reserved.

    This source code is the exclusive property of Zakaria El Kotb.
    Unauthorized copying, modification, distribution, or use of this file,
    via any medium, is strictly prohibited without the prior written
    permission of the copyright owner.

    Author: Zakaria El Kotb <elkotbzakaria@gmail.com>

-->
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%X{traceId:--}/%X{spanId:--}] [%X{username:-anonymous}] [%X{ip:--}] [%X{method:-}] [%X{uri:-}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>