<!--

    Copyright (c) 2026 Zakaria El Kotb. All rights reserved.

    This source code is the exclusive property of Zakaria El Kotb.
    Unauthorized copying, modification, distribution, or use of this file,
    via any medium, is strictly prohibited without the prior written
    permission of the copyright owner.

    Author: Zakaria El Kotb <elkotbzakaria@gmail.com>

-->
<configuration scan="true">

    <!-- Dev profile -->
    <springProfile name="dev">
        <include resource="log-config/logback-spring-dev.xml"/>
    </springProfile>

    <!-- Prod profile -->
    <springProfile name="prod">
        <include resource="log-config/logback-spring-prod.xml"/>
    </springProfile>

    <!-- Prod profile -->
    <springProfile name="stage">
        <include resource="log-config/logback-spring-stage.xml"/>
    </springProfile>

</configuration>